body {
  background: #fdecc3;
  font-family: "Times New Roman", Times, serif;
  margin: 3rem 2rem;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

div.reasons {
  margin: 4rem 0 2rem 0;
}

img {
  border-radius: 1rem;
  display: block;
  margin: 3rem auto;
  max-width: 93%;
}

footer {
  display: block;
  margin: 2rem auto;
  text-align: center;
}

footer a {
  font-size: 1.2em;
  padding: 0 1.5rem;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

p.more-info {
  font-weight: bold;
  margin-top: 5rem;
  text-align: center;
}

p.contact-info {
  margin: 2rem 0 3rem 0;
  text-align: center;
}
